<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>OurMetaverseDAO NFT</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73FP3ELCZN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-73FP3ELCZN');
  </script>
  <style>
    body {
      background: black;
    }

    .ourm-loading-text {
      font-size: 14px;
      max-width: 400px;
      margin: 120px auto;
      letter-spacing: 4px;
      background: linear-gradient(90deg, black 0%, white 50%, black 100%);
      background-size: 80%;
      background-repeat: no-repeat;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-animation: shining 3s linear infinite;
      animation: shining 3s linear infinite;
    }

    @-webkit-keyframes shining {
      from {
        background-position: -500%;
      }

      to {
        background-position: 500%;
      }
    }

    @keyframes shining {
      from {
        background-position: -500%;
      }

      to {
        background-position: 500%;
      }
    }
  </style>
</head>

<body>
  <div id="root">
    <p class="ourm-loading-text">
      OurMetaverseDAO NFT Loading...
    </p>
  </div>
</body>

</html>