<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>OurMetaverseDAO NFT</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73FP3ELCZN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-73FP3ELCZN');
  </script>
  <style>
    body {
      background: black;
    }

    .ourm-loading-text {
      /* thanks for https://github.com/frontslab/front-daily/blob/main/sourceCode/20211102/css/shining-text-style.css */
      font-size: 14px;
      max-width: 350px;
      text-align: center;
      margin: 120px auto;
      letter-spacing: 4px;
      background: linear-gradient(90deg, black 0%, white 50%, black 100%);
      background-size: 80%;
      background-repeat: no-repeat;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-animation: shining 3s linear infinite;
      animation: shining 3s linear infinite;
    }

    @-webkit-keyframes shining {
      from {
        background-position: -500%;
      }

      to {
        background-position: 500%;
      }
    }

    @keyframes shining {
      from {
        background-position: -500%;
      }

      to {
        background-position: 500%;
      }
    }
  </style>
</head>

<body>
  <div id="root">
    <p class="ourm-loading-text"
      data-egg="0x436f6e67726174756c6174696f6e736f6e66696e64696e6774686568696464656e656767636c7565666f7274686570726f6a6563742c796f7563616e66696e647468656e657874636c7565696e7468654552433732314d706167656174636f6e747261637464657461696c392e5468656669727374313070656f706c6577686f66696e647468656567677468726f756768746865636c7565616e64636f6e7461637475737468726f7567687468656567676265666f72654a756e6533302c3230323277696c6c7265636569766574686570726f6a6563744e465464726f702e546f7265636569766574686564726f702c796f756e656564746f70726f76696465616e657468657265756d61646472657373776974687472616e73616374696f6e7265636f7264732c616e64656163686164647265737369736c696d69746564746f6f6e652e466f7266756e2c706c65617365636f6d706c6574657468656d797374657279696e646570656e64656e746c792e">
      OurMetaverseDAO NFT Loading...
    </p>
  </div>
</body>

</html>