<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>OurMetaverseDAO NFT</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-73FP3ELCZN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-73FP3ELCZN');
  </script>
</head>

<body>
  <div id="root">
    <div style="padding: 8px;">
      <p>
        <em>OurMetaverse</em> is an exciting web3 NFT experiment for creator economy.
      </p>
      <p>
        Loading...
      </p>
    </div>
  </div>
</body>

</html>
