@font-face {
  font-family: 'gap';
  // download and use free from https://www.fonts.net.cn/commercial-free/fonts-en-1.html?previewText=OurMetaverse
  src: url('../public/Gap-Regular-3.ttf');
}

#root {
  height: 100%;
}

code {
  word-break: break-all;
}
